html {
  font-size: 20px;
}

body {
  margin: 0;
  font-family: 'Josefin Slab', serif;
  background: linear-gradient(105deg,
    rgba(255, 255, 255, 1) 0,
    rgba(255, 218, 176, 1) 50%,
    rgba(222, 198, 120, 1) 100%);
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
  margin-top: 0;
}

h1 {
  font-size: 100px;
  font-weight: normal;
  margin-bottom: 15px;
  @include mobile {
    font-size: 60px;
  }
}

hr {
  border: 1px dotted black;
  border-top: 0;
  width: 30%;
}

p {
  min-height: 15px;
  margin-top: 0;
}